## Summary functions

### Datasets

downlaod set using kaggle
``` bash
kaggle datasets download -d zynicide/wine-reviews
```
download it to the data file

In [16]:
import pandas as pd

In [17]:
df_150 = pd.read_csv('..//data//winemag-data_first150k.csv', index_col = 0)
df_150.describe()

              points          price
count  150930.000000  137235.000000
mean       87.888418      33.131482
std         3.222392      36.322536
min        80.000000       4.000000
25%        86.000000      16.000000
50%        88.000000      24.000000
75%        90.000000      40.000000
max       100.000000    2300.000000

In [18]:
df_150.shape

(150930, 10)

In [19]:
df_150

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selección Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodríguez
2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,France,"This is the top wine from La Bégude, named aft...",La Brûlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la Bégude
...,...,...,...,...,...,...,...,...,...,...
150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,France,"Offers an intriguing nose with ginger, lime an...",Cuvée Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Rosé,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

In [20]:
#get the mean value of points
df_150.points.mean()

87.8884184721394

In [22]:
#see unique valuess and how often they occur
df_150.designation.value_counts()

designation
Reserve                                   2752
Reserva                                   1810
Estate                                    1571
Barrel sample                             1326
Riserva                                    754
                                          ...
Domaine Saint-Sernin Fare Saint-Sernin       1
The Score                                    1
La Terraza Bloc Reserve                      1
Alte d'Altesi                                1
Bungalow Red                                 1
Name: count, Length: 30621, dtype: int64

## Maps

- take one set of values and "maps" them to another set
- use it when you need to represent data in a different way

There are two `map()` methods
- `map()` || to transform one column
- `apply()` || to transform the whole data set

In [28]:
reviews_point_mean = df_150.points.mean()

In [30]:
# now map the balue
df_150.points.map(lambda p: p-reviews_point_mean)

0         8.111582
1         8.111582
2         8.111582
3         8.111582
4         7.111582
            ...
150925    3.111582
150926    3.111582
150927    3.111582
150928    2.111582
150929    2.111582
Name: points, Length: 150930, dtype: float64

The `map()` should expect a single value from a `series` (a point value), and return a transformed series
`map` returnsa a new series where all values have been transformed

In [33]:
def remeean_points(row):
    row.points = row.points - reviews_point_mean
    return row

# call it
df_150.apply(remeean_points, axis='columns')
df_150.head(1)

,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz